<!DOCTYPE html>
<html>
<head>
  <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>Historical Events - DB Builder</h1>
  <div class="form">
    <p>Please Enter an Event Below:</p>
    <textarea id="event" name="event" rows="8" cols="100"></textarea>

    <p>Please Enter the Year it Happened:</p>
    <input type="text" id="year" name="year"><br><br><br><br>
    <button type="button" onclick=saveData()>Save Data</button>
    <br><br>

    <a href="/viewdata">View All Data</a>

    

  </div>
  <script src = "main.js"></script>
  
</body>
</html>